
        <!-- Modal for Creating Users -->
    <div id="createModal" class="modal-create" data-controller="create">
      <div class="modal-content-create">
        <h1>Create Users</h1>
        <%= form_with(model: @register, url: registers_path, method: :post, local: false, html: { id: 'reg-form', class: 'reg-form' }) do |form| %>
          <!-- Row First Name and Last Name -->
          <div class="form-row">
            <div class="form-group">
              <%= form.label :first_name, 'First Name' %>
              <%= form.text_field :first_name, class: "form-control", id: "first_name" %>
              <div class="error-message" id="error_first_name"></div>
            </div>
            <div class="form-group">
              <%= form.label :last_name, 'Last Name' %>
              <%= form.text_field :last_name, class: "form-control", id: "last_name" %>
              <div class="error-message" id="error_last_name"></div>
            </div>
          </div>

          <!-- Row Birthday and Gender -->
          <div class="form-row">
            <div class="form-group">
              <%= form.label :birthday, 'Birthday' %>
              <%= form.date_field :birthday, class: "form-control", id: "birthday" %>
              <div class="error-message" id="error_birthday"></div>
            </div>
            <div class="form-group">
              <%= form.label :gender, 'Gender' %>
              <div class="radio-group">
                <%= form.radio_button :gender, "Male", id: "gender_male" %>
                <%= form.label :gender_male, "Male", class: "label-gender", for: "gender_male" %>
                <%= form.radio_button :gender, "Female", id: "gender_female" %>
                <%= form.label :gender_female, "Female", class: "label-gender", for: "gender_female" %>
              </div>
              <div class="error-message" id="error_gender"></div>
            </div>
          </div>

          <!-- Row Email and Phone -->
          <div class="form-row">
            <div class="form-group">
              <%= form.label :email, 'Email' %>
              <%= form.email_field :email, class: "form-control", id: "email" %>
              <div class="error-message" id="error_email"></div>
            </div>
            <div class="form-group">
              <%= form.label :phone, 'Phone Number' %>
              <%= form.telephone_field :phone, class: "form-control", id: "phone", data: { controller: "phone", phone_target: "input" } %>
              <div class="error-message" id="error_phone"></div>
            </div>
          </div>

          <!-- Row Subject -->
          <div class="form-group">
            <%= form.label :subject, 'Subject' %>
            <%= form.select :subject, options_for_select([["Math", "Math"], ["Science", "Science"], ["Ruby", "Ruby"]]), prompt: "Choose option", class: "form-control", id: "subject" %>
            <div class="error-message" id="error_subject"></div>
          </div>

          <!--Button -->
          <div class="modal-actions">
            <%= form.submit "Submit", id: "confirmCreate", class: "btn btn-submit", data: { action: "click->create#confirm_create" } %>
            <button type="button" id="cancelCreate" class="btn btn-cancel" data-action="click->create#close_modal">Cancel</button>
          </div>
        <% end %>
      </div>
    </div>
