<body class="body-list">

 <div class="row-btn">
  <%= link_to registers_path, class: "btn btn-back" do %>
    <i class="fas fa-arrow-left"></i>Back
  <% end %>
  <%= link_to new_register_path, class: "btn btn-add" do %>
  <i class="fas fa-user-plus"></i>Create Users
  <% end %>
  </div>

  <div class="container-list">
    <div class="header">
    <!-- Heading for the user list -->
    <h1>Complete User List</h1>
    </div>
      <div class="filter">
        <%= form_with url: list_register_path, method: :get, local: true, html: { id: 'filter-form' } do %>
         <%= select_tag :subject, options_for_select(@subjects, params[:subject]), prompt: "All subjects", id: 'subject-select', class: 'filter-select' %>
        <% end %>
      </div>



    <!-- List of all users -->
    <div class="user-list">
      <% if @registers.any? %>
        <ul class="user-cards">
        <% @registers.each do |register| %>
          <li class="user-card">
            <div class="user-info">
              <p class="name-info"><%= register.first_name %> <%= register.last_name %></p>
              <p class="subject-info">Subject : <%= register.subject %></p>
            </div>
            <%= link_to "View Details", register_path(register), class: "btn btn-info view-details" %>
          </li>
        <% end %>
        </ul>

      <% else %>
        <div class="empty-user">
          <i class="fa-solid fa-circle-info fa-3x"></i>
          <p >There are no users to display.</p>
        </div>
      <% end %>
    </div>
  </div>
</body>
