<h1> User : <%= @register.first_name %> </h1>

<p>FirstName : <%= @register.first_name %></p>
<p>Lastname : <%= @register.last_name %></p>
<p>Birthday : <%= @register.birthday %></p>
<p>Gender : <%= @register.gender %></p>
<p>Email : <%= @register.email %></p>
<p>Phone : <%= @register.phone %></p>
<p>Subject : <%= @register.subject %></p>
