<!-- Back Button -->
<div class="form-group">
<%= link_to "Back to all user", list_register_path, class: "btn-back" %>
 </div>
<h1> User : <%= @register.first_name %> </h1>

<p>FirstName : <%= @register.first_name %></p>
<p>Lastname : <%= @register.last_name %></p>
<p>Birthday : <%= @register.birthday %></p>
<p>Gender : <%= @register.gender %></p>
<p>Email : <%= @register.email %></p>
<p>Phone : <%= @register.phone %></p>
<p>Subject : <%= @register.subject %></p>

<ul>
  <li><%= link_to "แก้ไข", edit_register_path(@register) %></li>
</ul>

<li><%= link_to "ลบ", register_path(@register), 
data: {turbo_method: :delete,
turbo_confirm: "Are you sure?"
 } %></li>
