 <body class="body-show">
   
  <div class="container-show">
   
    <!-- User Details -->
    <div class="user-details">
 
        <%= link_to list_register_path, class: "btn-back-all-users" do %>
          <i class="fas fa-arrow-left"></i> Back
        <% end %>
  
      <h1><%= @register.first_name %> <%= @register.last_name %></h1>

      <div class="details-list">
        <p><i class="fas fa-cake-candles"></i>  
          <%= @register.birthday.strftime("%d %B %Y") if @register.birthday.present? %>
        </p>
        <p><i class="fas fa-venus-mars"></i> <%= @register.gender %></p>
        <p><i class="fas fa-envelope"></i>  <%= @register.email %></p>
        <p><i class="fas fa-phone"></i> <%= @register.phone %></p>
        <p><i class="fas fa-book"></i> <%= @register.subject %></p>
      </div>

      <!-- Action Links -->
      <div class="action-links">
        <%= link_to "Edit", edit_register_path(@register), class: "btn btn-edit" %>

        <%= form_with(model: @register, url: register_path(@register), method: :delete, local: true, html: { id: 'delete-form', class: 'delete-form' }) do |form| %>
          <button type="button" class="btn btn-delete delete-button">Delete</button>
        <% end %>

      </div>

      <!-- Delete Confirmation Modal -->
      <div id="deleteConfirmationModal" class="modal">
        <div class="modal-content">
          <p>Are you sure you want to delete this user?</p>
          <div class="modal-actions">
             <button id="confirmDelete" class="btn btn-delete ">Yes, Delete</button>
            <button id="cancelDelete" class="btn btn-no">No</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>