<body class="body-show">
   
  <div class="container-show">
   
    <!-- User Details -->
    <div class="user-details">
 
        <%= link_to list_register_path, class: "btn-back-all-users" do %>
          <i class="fas fa-arrow-left"></i> Back
        <% end %>
  
      <h1><%= @register.first_name %> <%= @register.last_name %></h1>

      <div class="details-list">
        <p><i class="fas fa-cake-candles"></i>  <%= @register.birthday %></p>
        <p><i class="fas fa-venus-mars"></i> <%= @register.gender %></p>
        <p><i class="fas fa-envelope"></i>  <%= @register.email %></p>
        <p><i class="fas fa-phone"></i>  <%= @register.phone %></p>
        <p><i class="fas fa-book"></i> <%= @register.subject %></p>
      </div>


      <!-- Action Links -->
      <div class="action-links">
        <%= link_to "Edit", edit_register_path(@register), class: "btn btn-edit" %>
        <%= link_to "Delete", register_path(@register), 
          method: :delete, 
          data: { confirm: "Are you sure?" },
          class: "btn btn-delete" %>
      </div>
    </div>
  </div>
</body>
